body{
  font-family: "Open Sans", sans-serif;
}

body {
  padding: 0 100px 0 100px;
}

.custom-radio {
  @apply h-5 w-5 focus:outline-none checked:border-transparent checked:bg-[#2F4EED] bg-transparent appearance-none border border-[#E7E7E7] rounded-full;
}


@media screen and (min-width: 768px) {
  body {
    padding: 0 32px 0 32px;
  }
}

@media screen and (min-width: 320px) {
  body {
    padding: 0 20px 0 20px;
  }
}

/* Styling used to ensure max width of desktop is constant through all desktop screen sizes */
.container {
  max-width: 1360px; 
  margin: 0 auto; 
}

/* styling for list used in the landing page */
.list-checkmarks {
  padding-left: 0;
}

.list-checkmarks li {
  display: flex;
  align-items: flex-start;
  padding-left: 1.5rem;
  position: relative;
}

.list-checkmarks li::before {
  content: "";
  background: url("/svg/check.svg") no-repeat center;
  background-size: 1em 1em;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  position: absolute;
  left: 0;
  top: 0.25em;
}


/* Dashboard */

.content{
  position: relative;
  left: 240px;
  width: calc(100% - 240px);
}

#sidebar {
  transition: width 0.3s ease;
}

#sidebar ul a {
  transition: width 0.3s ease;
}
